.footer{
    border:1px solid black;
    height:400px;
    width:99%;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4,1fr);


}
.footer div{
    width:84%;
    height:350px;
    border:1px solid black;

}

@media screen and (min-width: 480px) {
    .footer {
      background-color: lightgreen;
    }
  }